* {
    box-sizing: border-box;
    margin: 0;
}

body {
    font-family: "Noto Sans KR", sans-serif;
    letter-spacing: -0.01em;
}

a {
    text-decoration: none;
}

.landing {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: flex-end;
    background-image: url("./assets/img-bg.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}


.landing-title {
    line-height: 1.25;
    letter-spacing: -0.03em;
    color: #fff;
    margin-bottom: 24px;
    text-align: right;

}

.landing-title strong {
    display: block;
    font-family: "Poppins", sans-serif;
    letter-spacing: -0.01em;
}


.banner{
    position: fixed;/*viewport를 기준으로 위치를 잡는다.*/
    left:0;
    bottom:0;
    width: 100%;
    height: 64px;
    background-color: goldenrod;
    /*부모는 별도의 선언이 없다면 자식 태그의 height값과 같다.*/

}

.banner-title a{/*<a>:inline tag*/
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    width:100%;
    height:64px;
    color: #1f2d3d;

}

.landing{
    width: 100%;
    height: 100vh;
    padding:0 20px;
}

.landing-link{
    /*display:inline이므로 width,height이 적용x, 가운데정렬도해야하니
                display:flex를 사용!
    */
    display: flex;
    justify-content: center;
    align-items: center;
    width:160px;
    height:52px;
    border-radius: 16px;
    border: 2px solid #ffffff;
    font-size: 15px;
    background-color: rgba(0,0,0,0.5);
    line-height: 1;
    color: #fff;

}

@media screen and (min-width: 768px) {
    .banner{
        bottom: auto;/*이전에 적용했던 css가 사라진다.*/
        top: 0;/*position:fixed 를 사용할 때는 top/bottom 중에 하나 left/right 중에 하나만 기준으로 잡는다.*/
        height: 80px;
    }
    .banner-title a{
        height: 80px;
    }
    .landing-title{
        font-size: 50px;
        text-align: center;
        margin-bottom: 32px;
    }
    .landing-link{
        font-size: 18px;
        width:180px;
        height: 56px;
    }
    .landing{
        align-items: center;
    }
}