*{
    box-sizing: border-box;
    margin: 0;
}

body{
    font-family:"DM Sans", sans-serif;
    height: 100%;
}

/*reset*/

p{
    font-size: 16px;
    line-height: 1.5;
}

ul,ol,li,dl,dt,dd{
    list-style-type: none;
    padding-left: 0;
    margin-left: 0;
}

a{
    color: inherit;
    text-decoration: none;
}

button:focus,button:active,
input:focus,input:active{
    outline: none;
    box-shadow: none;
}

button{
    border: none;
    border-radius: 2px;
    cursor: pointer;
}

button,input,textarea{
    font-family: "DM Sans",sans-serif;
}


/*Landing*/

.landing{
    padding: 15px 0;
   /* border-bottom:1px solid lightgray;*/
}

.landing-content{
    justify-content: center;
    align-items: center;
    height: auto;

}

.landing-content .landing-place i{
    color: orange;
}

.landing-category{
    display: block;
    margin-bottom: 15px;
}

.landing-category::before{
    content:'';/*가상요소의 필수 attr*/
    position:relative;
    top:2px;
    display: inline-block;
    width: 14px;
    height: 14px;
    background-image: url("./assets/backward-arrow.svg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size:contain;
}

.landing-title{
    margin-bottom: 15px;
}

.landing-date{
    margin-bottom: 8px;
}

.landing-content .share-button{
    width: 36px;
    height: 36px;
    border-radius: 50%;
    border: none;
    background-color: #ffffff;
    background-image: url("./assets/icon-share.svg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 24px 24px;
    position: absolute;
    top: 0;
    right:0;
}

.landing-dateplace {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    position: relative;
}


/* Main */

.main-image img{

    display: block;
    width: 100%;
    height: auto;
    margin: 0 auto;

}

.card-content-likes{
    display: flex;
    justify-content: center;
    align-items: center;
}
.main .like-button{
    width: 34px;
    height: 34px;
    border-radius: 50%;
    border: none;
    background-color: #ffffff;
    background-image: url("./assets/icon-favorite.svg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 20px 20px;
    cursor: pointer;
}

.main .main-rate{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.main .main-likes{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-right: 20px;
}

.main-reviews .main-review-link::before{
    content:'';/*가상요소의 필수 attr*/
    position:relative;/*인라인블록때매약간의오차, 다른 요소에 영향 안미치면셔 */
    /*top:3px;*//*옮길정도 설정 위에로부터 2px 떨어지도록하기*/
    display: inline-block;
    width: 16px;
    height: 16px;
    background-image: url("./assets/icon-orangestar.svg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size:contain;
    margin-right: 5px;
}

.main-review-link{
    display:flex;
    justify-content: flex-start;
    align-items: center;
}

.main .main-detail-top{
    width: 100%;
    margin: 0 auto;
    padding: 8px 0;
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
}
.main .main-detail-top dt {
    font-size: 15px;
    color: #333;
    font-weight: bold;
    float: left;
    line-height: 35px;
}

.main .main-detail-top dd{
    font-size: 15px;
    color: #333;
    clear: right;
    margin: 0 0 3px 86px;
    line-height: 35px;
    position: relative;
}

.main .main-detail-bottom{
    width: 100%;
    margin: 0 auto;
    padding: 8px 0;
    border-bottom: 1px solid lightgray;
}
.main .main-detail-bottom dt{
    font-size: 15px;
    color: #333;
    font-weight: bold;
    line-height: 35px;
}
.main .main-detail-bottom dd{
    margin-left: 2px;
    color: #333;
    line-height: 23px;
    font-size: 14px;
}

/* Ticketing */
.ticketing{
    padding:15px 0;
}

.ticketing .col-12{
    margin-bottom: 10px;
}


.ticketing .ticketing-title{
    font-size: 16px;
    font-weight: 700;
    line-height: 1.5;
    border-bottom:  1px solid lightgray;
    margin-bottom: 8px;
    padding-bottom: 7px;
}


/*달력 api*/
.ticketing .datepicker{
    width: 100%;
    height: 150px;
    border: 1px solid red;
}

.ticketing .col-12:nth-child(2){
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.ticketing .ticketing-button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 140px;
    height: 48px;
    font-size: 15px;
    font-weight: 400;
    letter-spacing: -0.05em;
    color:#333333;
    border: 1px solid orange;

}

.ticketing-seat{
    border: 1px solid lightgray;
   padding: 10px 15px;
}

.ticketing-seat-list{

}

.ticketing .ticketing-seat-list dt {
    font-size: 15px;
    color: #333;
    font-weight: bold;
    float: left;
    line-height: 35px;
}

.ticketing .ticketing-seat-list dd{
    font-size: 15px;
    color: #333;
    clear: right;
    margin: 0 0 3px 86px;
    line-height: 35px;
    position: relative;
}

.ticketing .ticketing-seat-list dd span{
    color: #ec7d2c;
    font-size: 15px;
}

.booking .col-12{
    display: flex;
    justify-content: center;
    align-items: center;

}
.booking .booking-button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 140px;
    height: 48px;
    font-size: 15px;
    font-weight: 700;
    letter-spacing: -0.05em;
    color:#ffffff;
    background-color: red;
    margin-right: 8px;
}

.booking .booking-button-invert{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 140px;
    height: 48px;
    font-size: 15px;
    font-weight: 700;
    letter-spacing: -0.05em;
    color:red;
    background-color: #ffffff;
    border: 1px solid red;
    margin-left: 8px;
}


/* Caution */

.caution{
    text-align: center;
}
.caution .caution-title{
    font-size: 20px;
    font-weight: 700;
    color: inherit;
    margin-bottom: 18px;
}

.caution .caution-desc{
    font-size: 13px;
    font-weight: 400;
}

.detail .detail-image img{
    display: block;
    width: 100%;
    height: auto;
    margin: 0 auto;
}

/* refund */

.refund .refund-table table {
    /*width: 100%;*/
    border: 1px solid #444444;
    border-collapse: collapse;
}

.refund .refund-table th, td {
    border: 1px solid #444444;
}


/* Map */

.map{
    padding:20px 0;
    text-align: center;
}
.map .map-title i{
    color: orange;
}

.map .map-desc{
    border: 1px solid red;
    width: 80%;
    margin: 0 auto;
    height: 400px;
}

/*
.map .map-title::before {
    content: '';
    position: relative;
    !* top: 3px; *!
    display: inline-block;
    width: 16px;
    height: 16px;
    background-image: url(./assets/icon-orangestar.svg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    margin-right: 5px;
}
*/





@media screen and (min-width: 768px){
    /*Reset CSS*/


    /* Main */


}












